@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;900&family=Nunito:wght@200;300;400;600&display=swap');


html {
    font-size : 100% ; 

}

* {
    margin : 0 ; 
    padding : 0 ; 
    box-sizing: border-box;
    font-family : 'Hanken Grotesk' ; 
}



div.container1 {
    display : flex ; 
    border-radius: 25px ; 
    width :40rem ; 
    position : absolute ; 
    background-color: white ; 
    box-shadow : 30px 30px 150px -50px lightblue ; 
    align-items: flex-start;
    

    
   
    


}

div.container2 {
    width : 50% ; 
display : flex ; 
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
background: linear-gradient( to bottom , hsl(252, 100%, 67%) , hsla(241, 81%, 54%)) ; 
padding : 2.2rem 1.5rem 3rem 2.6rem ; 
border-radius: 25px;

}

div.container2 h3 {
    color : rgba(210,196,255 , .8) ; 
    font-weight : 500 ; 
    text-align : center ; 
    padding-bottom : 27px ; 
    font-size : 1.3rem ; 

}


div.container2 div.circle {
    background: linear-gradient(to top , transparent , hsla(241, 72%, 46%, 1) )  ; 
    width :10rem ; 
    height : 10rem  ;
    border-radius: 50% ;
    padding-top : 65px ; 
    font-size : 4rem ; 
    font-weight : 900 ; 
    color : #fff ; 
    line-height : 0.4 ; 


}

div.container2 div.circle span {
    font-size : .9rem ; 
    font-weight : 400 ; 
    color : rgba(255,255,255,.4) ;    
}


div.container2 h2{
    color : white ;
    opacity: 0.95;
    font-weight : 500 ; 
    padding-top : 27px ; 
    font-size : 1.625rem; 
}


div.container2 p{
    color : white ;
    opacity: 0.6;
    font-weight : 400 ; 
    padding-top : 15px ;
    font-size : 1rem ;  
}

/* CONTAINER 2 END */


/* CONTAINER 3 START */

div.container3 h3 {
padding-bottom: 20px ;
 color : rgba(0,0,0,.7);
 font-size : 1.3rem ; 


}

div.container3 {
    width : 50% ; 
padding : 2.2rem 2.4rem 0 2.4rem ; 
    display : flex ; 
    flex-direction: column;
    align-items: flex-start;
    


}

div.container3 div.box div{

display: inline-block;
position : absolute ; 
right: 20px ; 
top : 50% ; 
transform:translate(0,-50%)

}


div.container3 div.box div span.bold {
    font-weight : 900 ; 
}

 
div.container3 div.box {
    background-color: yellow;
    width : 100% ; 
    min-width : 200px ;
    padding : 13px 0 ;      
    border-radius : 10px ;
    margin : .4rem 0 ;  
    font-weight : 500 ; 
    position : relative ; 

}

div.container3 div.box.reaction {
 background-color: #fff4f4;
 color : hsl(0, 100%, 67%) ; 

}

div.container3 div.box img{
margin-right : 10px ;
padding-left : 12px ; 
 float : left ; 

}

div.container3 div.box.memory {
background-color: #fffcf4
}

div.container3 div.box.verbal {
    background-color: #f8fcfc;
}


div.container3 div.box.visual {
    background-color: #f8f4fc;
    
}

div.container3  .btn {
    background-color : #383c5c ; 
    padding : .7rem 0 ;
    text-align: center;
    width : 100% ; 
    color : white ; 
    font-size : 1rem ;
    font-weight :   500 ; 
    border-radius : 100px ; 
    margin-top : 28px ; 
    text-decoration : none ; 
   
}

.btn:hover {
    background:linear-gradient(to top ,hsl(252, 100%, 67%) ,hsl(241, 81%, 54%));
}





/* MEDIA QUERIES :  */



@media (min-width: 501px) {

    div.container1 {
   top : 50% ; 
   left : 50% ; 
   transform:translate(-50% , -50%)
    }

    
}

@media (max-width: 500px) {

    html {
        font-size : 100% ; 
    }

    div.container1 {
        flex-direction: column;
        width : 100% ; 
        align-items :center ; 
    }

    div.container2{
        width : 100% ; 
    }
    div.container3 {
        width: 100%; 
    }
}